<header>
	<div class="logo">
		<a href="/"><img src="../img/jobtions_logo.gif"></a>
	</div>

	<nav>
		<%if session[:user].empty? %>
			<a class="btn-main" href="/signin">Sign in</a>
			<a class="btn-main" href="/signup">Create an account</a>
		<% else %>
			<!-- buttons change if logged in -->
			<a class="btn-main" href="/search">Home</a>
			<a class="btn-main" href="/<%= session[:user][:username] %>/profile">Profile</a>
			<a class="btn-main" href="/signout">Sign out</a>
		<% end %>
	</nav>
</header>

<div class="clear-header"></div>