<%= erb(:header, :layout => false) %>

	<div class="main-container">
		<section class="cover">
			<div class="cover-text">
				<p>We match your personality to other users around the world and show you what similar people enjoy doing, as well as what they don't.</p>
	 			<br>
				<p>Picking the perfect career has never been simpler.</p>
			</div>
			<a class="btn-main glow dark-hover" href="/signup">Get started</a>
		</section>
		<section class="content">

			<!-- <div class="row-4 clearfix">
			  <div class="col-1-4">
			  	<i class="icon-smile"></i>
					<p>In dui magna, posuere eget, vestibulum et, tempor auctor, justo. Praesent blandit laoreet nibh.</p>

					<p>Nulla neque dolor, sagittis eget, iaculis quis, molestie non, velit. Mauris turpis nunc, blandit et, volutpat molestie, porta ut, ligula.</p>
			  </div>
			  <div class="col-1-4">
			  	<i class="icon-briefcase"></i>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam eget dui.</p>

					<p>Phasellus volutpat, metus eget egestas mollis, lacus lacus blandit dui, id egestas quam mauris ut lacus. Curabitur at lacus ac velit.</p>
			  </div>
			  <div class="col-1-4">
			  	<i class="icon-chart-bar"></i>
					<p>Phasellus viverra nulla ut metus varius laoreet. Vestibulum ullamcorper mauris at ligula.</p>

					<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed aliquam, elit erat euismod orci.</p>
			  </div>
			  <div class="col-1-4">
			  <i class="icon-thumbs-up"></i>
					<p>Vestibulum rutrum, mi nec elementum vehicula, eros quam gravida nisl; Fusce id purus.</p>

					<p>Vivamus elementum semper nisi. Nunc egestas, laoreet, felis eros vehicula leo, at malesuada velit leo quis pede cubilia Curae</p>
			  </div>
			</div> -->

			<div class="preview">
				<h2>Preview</h2>
				<iframe width="560" height="315" src="//www.youtube.com/embed/98Wk3FtLy6Q" frameborder="0" allowfullscreen></iframe>
			</div>

		</section>
	</div>