<%= erb(:header, :layout => false) %>

	<div class="main-container">
		<section class="cover">
			<div class="cover-text">
				<p>We match your personality to other users around the world and show you what similar people enjoy doing, as well as what they don't.</p>
	 			<br>
				<p>Picking the perfect career has never been simpler.</p>
			</div>
			<a class="btn-main glow dark-hover" href="/signup">Get started</a>
		</section>
		<section class="content">

			<div class="preview">
				<h2>Preview</h2>
				<iframe width="560" height="315" src="//www.youtube.com/embed/98Wk3FtLy6Q" frameborder="0" allowfullscreen></iframe>
			</div>

		</section>
	</div>