<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/fontello.css">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<link rel="icon" type="image/png" href="../img/favicon.ico">

	<title>Jobtions</title>

</head>
<body>

<%= yield %>

</body>
</html>