<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/fontello.css">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<link rel="stylesheet" type="text/css" href="/css/toastr.css">
	<link rel="icon" type="image/png" href="../img/favicon.ico">

	<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="/js/toastr.js"></script>
	<script type="text/javascript" src="/js/helper.js"></script>

	<title>Jobtions</title>

</head>
<body>

<div class="page-wrap">

	<%= yield %>

</div>

<footer class="site-footer">
	<a href="mailto:thoover.mail@gmail.com"><p>thoover.mail@gmail.com</p></a>
</footer>

</body>
</html>