<h1><a class="login" href="/">Jobtions</a></h1>

<div class="signup-link">
	<p><a href="/signup">Signup here</a> or login below</p>
</div>

<form action="/login" method="post">
	<input type="email" placeholder="email" name="email">
	<input type="password" placeholder="password" name="password">
	<input type="submit" value="Log in">
</form>