<script>loadCSS("/css/mixitup.css")</script>
<script type="text/javascript" src="/js/plugins/mixitup/build/jquery.mixitup.min.js"></script>

<script type="text/javascript">
	$(function(){
  	$('#Container').mixItUp();
	});
</script>

<div class="controls">
  <label>Filter:</label>
  
  <button class="filter" data-filter="all">All</button>
  <button class="filter" data-filter=".category-1">Category 1</button>
  <button class="filter" data-filter=".category-2">Category 2</button>
  
  <label>Sort:</label>
  
  <button class="sort" data-sort="myorder:asc">Asc</button>
  <button class="sort" data-sort="myorder:desc">Desc</button>
</div>
<div id="Container" class="container">
  <li class="mix category-1" data-myorder="1">test</li>
  <li class="mix category-1" data-myorder="2">test</li>
  <li class="mix category-1" data-myorder="3">test</li>
  <li class="mix category-2" data-myorder="4">test</li>
  <li class="mix category-1" data-myorder="5">test</li>
  <li class="mix category-1" data-myorder="6">test</li>
  <li class="mix category-2" data-myorder="7">test</li>
  <li class="mix category-2" data-myorder="8">test</li>
  
  
</div>