<%= erb(:header, :layout => false) %>

<link rel="stylesheet" type="text/css" href="../css/auth.css">

<div class="signup-wrapper">
	<form action="/signin" method="post">
		<input type="email" required placeholder="email" name="email">
		<input type="password" required placeholder="password" name="password">

		<input type="submit" class="glow dark-hover" value="Sign in">
	</form>
</div>