<%= erb(:header, :layout => false) %>

<link rel="stylesheet" type="text/css" href="../css/auth.css">
<script type="text/javascript" src="../js/auth.js"></script>

<div class="signup-wrapper">
	<form action="/signup" method="post">
		<input type="text" required placeholder="username" minlength="6" maxlength="20" name="username">
		<input type="email" required placeholder="email" name="email">
		<input type="password" required placeholder="password" minlength="6" name="password">
		<input type="password" required placeholder="confirm password" minlength="6" name="confirm_password">
		<input type="text" required placeholder="zipcode" minlength="5" maxlength="5" name="zipcode">

		<input type="text" required name="job_title" maxlength="20" placeholder="Job title"></input>
		
		<select name="job_category" required>
			<option value="" disabled selected>Job category</option>
			<% @job_categories.each do |job| %>
				<option value=<%=job[:category]%>><%=job[:category]%></option>
			<% end %>
		</select>

		<input type="number" required name="job_experience" min="0" max="99" pattern="[0-9]{2}" placeholder="Years of experience"></input>

		<select required name="job_satisfaction">
			<option value="" disabled selected>Job satisfaction</option>
			<option value="very_satisfied">Very satisfied</option>
			<option value="satisfied">Satisfied</option>
			<option value="somewhat_satisfied">Somewhat satisfied</option>
			<option value="somewhat_dissatisfied">Somewhat dissatisfied</option>
			<option value="very_dissatisfied">Very dissatisfied</option>
		</select>

		<select required name="job_salary">
			<option value="" disabled selected>Salary</option>
			<option value="hundred">$100,000+</option>
			<option value="eighty">$80,000 - $100,000</option>
			<option value="fifty">$50,000 - $80,000</option>
			<option value="thirty">$30,000 - $50,000</option>
			<option value="zero">&lt; $30,000</option>
		</select>

		<input type="submit" class="submit glow dark-hover" value="Sign up">
	</form>

</div>

