body {
	height: 400px;
}

.signup-wrapper {
	margin: 200px auto;
	width: 25%;
	height: 100%;
	overflow: auto;
	/*background: #ddd;*/
}

.signup-wrapper form {
	width: 90%;
	margin: auto;
	padding: 10%;
	background: #ddd;
}

form * {
	font-size: 1.1em;
	margin: 5px auto;
	padding: 10px;
	width: 100%;
	display: block;
}