/* resets */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
	text-decoration: none;
}

#status-area .flash_message {
  padding: 5px;
	width: 100px;
	height: 20px;
	color: black;
	background: yellow;
}

input[type=submit] {
	margin-top: 10px;
	width: 100%;
	font-size: 1em;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	background: #2B78E4;
	color: white;
	border: 0;
}

.center {
	text-align: center;
}

.clear-header{
	display: block;
	height: 80px;
	clear:both
}

body {
	min-width: 900px;
	background: #333;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body .btn-main {
	width: 150px;
	font-size: .4em;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	background: #2B78E4;
	color: white;
	border: 0;
}

.col-1-4 i {
	font-size: 4em;
}

.content {
	overflow: auto;
	padding: 40px 40px 100px 40px;
	text-align: center;
}

.main-container {
	width: 80%;
	height: 100%;
	margin: auto;
	background: #fff;
	overflow: auto;
}

.cover {
	overflow: auto;
	min-height: 400px;
	position: relative;
	width: 100%;

	background:
	linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(0, 0, 0, 0.6)
    ),
	 url('../img/blue_blur.jpg');

	background-size: cover;
}

.cover .btn-main {
	width: 200px;
	text-align: center;
	text-decoration: none;
	position: relative;
	display: block;
	padding: 20px;
	font-size: 1.1em;
	margin: 60px auto;
}

.cover-text {
	padding-top: 100px;
	margin: auto;
	height: 100%;
	width: 85%;
	text-align: center;
	font-size: 2em;
	color: white;
}

.cover-text p {
	margin: 0;
}

/*====footer====*/

.page-wrap {
  min-height: 100%;
  overflow: auto;
  /* equal to footer height */
  margin-bottom: -40px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
	clear: both;
}
.site-footer {
	clear: both;
  background: #eee;
  text-align: center;
}

.site-footer a{
	display: inline-block;
	line-height: 40px;
}

/*====footer====*/

header {
	font-size: 2em;
	margin: 0;
	padding: 20px 20px 10px 20px;
	width: 100%;
	height: 80px;
	overflow: auto;
	background: #eee;

	position:fixed; 
	top:0px; 
	z-index:100000; 
}

header .logo {
	float: left;
}

header .logo img {
	width: 200px;
	height: auto;
}

header button {
	padding: 7px;
}

header nav {
	position: relative;
	margin-top: -15px;
	padding: 10px;
	float: right;
}

header nav li {
	list-style: none;
	display: inline-block;
}

header nav li a {
	color: #1B1862;
	padding-right: 5px;
	text-decoration: none;
}

/*====grid=====*/

[class*="row-"] {
  margin-bottom: 20px;
}
[class*="row-"]:last-child {
  margin-bottom: 0;
}
[class*="col-"] {
}

/* all cols margin */
[class*="col-"] {
  margin-right: 20px;
}
[class*="col-"]:last-child {
  margin-right: 0;
}

/* make the columns responsive */
.col-1-2 {
  float: left;
  width: 50%;
}
.col-1-4 {
  float: left;
  width: 25%;
}
.col-1-8 {
  float: left;
  width: 25%;
}

/* 2 span rows */
.row-2 {
  padding-left: 20px;
}
.row-2 [class*="col-"]:first-child {
  margin-left: -20px;
}

/* 4 span rows */
.row-4 {
  padding-left: 60px;
  overflow: visible;
}
.row-4 [class*="col-"]:first-child {
  margin-left: -60px;
}

/* 8 span rows */
.row-8 {
  padding-left: 60px;
}
.row-8 [class*="col-"]:nth-child(4n+1) {
  margin-left: -60px;
}
.row-8 [class*="col-"]:nth-child(5n-1) {
  margin-right: 0;
}
.row-8 [class*="col-"]:nth-child(6n-1) {
  clear: both;
}