html, body {
	height: 100%;
}

div.main-container {
	margin: 15px auto;
	width: 1015px;
	height: 100%;
	background: #333;
	overflow: auto;
}

body .profile-main a.btn-main{
	font-size: .8em;
	padding: 15px;
	display: inline-block;
}

.profile-main ul {
	list-style: none;
	padding: 0;
}

i.icon-smile {
	font-size: 8em;
	text-align: center;
	line-height: 200px;
}

header {
	min-width: 700px;
}

aside {
	height: 100%;
	min-height: 600px;
	width: 300px;
	margin-right: 15px;
	min-width: 200px;
	float: left;
	overflow: visible;
	background: #2B78E4;
	padding: 20px;
}

aside .profile-picture{
	padding: 0;
	width: 200px;
	height: 200px;
	margin: 30px auto 20px auto;
	background: url("http://placehold.it/200x200");
}

.profile-main {
	float: left;
	width: 700px;
	height: 100%;
	min-height: 600px;
	background: #fff;
	padding: 10px 40px;
	overflow: auto;
}

.profile-main h1{
	font-size: 2em;
}

.signup-wrapper {
	margin: 200px auto;
	width: 25%;
	height: 100%;
	overflow: auto;
	/*background: #ddd;*/
}

.signup-wrapper form {
	width: 90%;
	margin: auto;
	padding: 10%;
	background: #ddd;
}

aside .fancy-list {
	padding: 0;
	display: block;
	margin: 20px auto;
}

aside .fancy-list li {
	list-style: none;
	line-height: 1.5em;
}

aside h1 {
	margin: 0;
}

form {
	margin: 150px auto 20px auto;
	width: 300px;
}

form h1, h2 {
	text-align: center;
	margin: 0;
	padding: 0px;
}

select {
	height: 50px;
}

form *, .sidebar-input {
	font-size: 1em;
	margin: 10px auto;
	padding: 5px;
	width: 200px;
	display: block;
}

aside .sidebar-button {
	display: block;
	width: 200px;
	margin: 0px auto 0px;
	background: #fff;
	color: #2B78E4;
}